@model List<Data.Entities.Product>;
<div class="row">

    @foreach (var p in Model)
    {
        <div class="card col col-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@p.Name</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@p.Price$</h6>
                <p class="card-text pb-3">@p.description</p>
                <a asp-action="Details" asp-route-id="@p.Id" class="container position-absolute fixed-bottom btn btn-primary">Details</a>

            </div>
        </div>
    }
</div>